
#content {
	margin: 0 auto;
	width: 900px;
}

#masthead {
	text-align: center;
	position:  relative;
	color:  black;
}

#masthead img {
	width: 100%;
}

#centered {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
	font-weight:  bold;
	font-family:  Times New Roman, serif;
}

/*This is the style of my byline, it looks different than my headline*/ 
#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;

}

h1 {
	font-family: Verdana, sans-serif;	

}

h2 {
	font-family: Verdana, sans-serif;	
}

/*This is the style for the text of the article*/
p{
	font-family: Georgia, serif;
	font: 12px;
	line-height: 18px;
}

/*This is the style for the blockquote, aka the quote that stands out on the page*/ 
blockquote {
	font-size:  2em;
	color:  white;
	background-color: black;
	padding: 5px;
	width: 75%;
	text-align: center;
}

/*This is the style of my captions on my images*/
.images figcaption {
	font-size:  10px;
	font-style: italic;
}

